## .NET build output
[Bb]in/
[Oo]bj/

## NuGet
*.nupkg
*.snupkg
.nuget/
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
build/
[Bb]uildArtifacts/

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.tlog

## Publish
*.publishsettings
PublishScripts/
publish/
[Pp]ublished[Aa]rtifacts/

## Logs
*.log
logs/

## JetBrains Rider
.idea/
*.sln.iml

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
